# Pandas
Es de las librerias mas populares en Python para el manejo de Data Frames y Series.  Pandas permite trabajar con datos homogenes por medio de los índices.

In [1]:
# librerias
import pandas as pd

In [2]:
tiempo_web = pd.Series([160,256,98,108])
tiempo_web

0    160
1    256
2     98
3    108
dtype: int64

In [3]:
# Una serie constante
pd.Series(3.1416,range(5))

0    3.1416
1    3.1416
2    3.1416
3    3.1416
4    3.1416
dtype: float64

In [4]:
# Accesar a un índice.
tiempo_web[2]

98

## Métodos básicos de las series
Funciones
- count()
- mean()
- min()
- max()
- std()
Y otra función que da las estadísticas descriptivas.
- describe()

In [5]:
tiempo_web.describe()

count      4.000000
mean     155.500000
std       72.302605
min       98.000000
25%      105.500000
50%      134.000000
75%      184.000000
max      256.000000
dtype: float64

In [6]:
# Se pueden tener control sobre el nombre de los índices
tiempo_web=pd.Series([160,256,98,108], index= ['Laura','Daniel','Alberto','Eva'])
tiempo_web

Laura      160
Daniel     256
Alberto     98
Eva        108
dtype: int64

In [7]:
# Con diccionarios
tiempo_web = pd.Series({'Laura':160,'Daniel':256, 'Alberto':98,'Eva':108})
tiempo_web

Laura      160
Daniel     256
Alberto     98
Eva        108
dtype: int64

In [8]:
# Llamar elemtos mediante corchetes y nombres personalizados
tiempo_web['Eva']

108

Cuando los índices son cadenas, Pandas añade los identificadores a los atributos de Series, de
manera que es posible llamar a los elementos con la siguiente notación.

In [9]:
tiempo_web.Alberto

98

Otros atributos de *Series* son
- dato(dtype),
- los valores(values) y
- los índices(index)

In [10]:
tiempo_web.dtype

dtype('int64')

In [11]:
tiempo_web.values

array([160, 256,  98, 108], dtype=int64)

In [12]:
tiempo_web.index

Index(['Laura', 'Daniel', 'Alberto', 'Eva'], dtype='object')

Si un arreglo tipo *Series*, es una string, puedes utilizar los atributos de la cadena, invocando a los métodos para strings de Python.

In [13]:
ingredientes = pd.Series(['Leche','Mantequilla','Harina','Azúcar'])
ingredientes

0          Leche
1    Mantequilla
2         Harina
3         Azúcar
dtype: object

Para verificar si alguna letra está contenida en alguno de los elementos, el método contain para
cadenas puede realizar esta tarea

In [14]:
ingredientes.str.contains('a')

0    False
1     True
2     True
3     True
dtype: bool

## Dataframes

Un *DataFrame* es un arreglo de bidimensional, cada columna del DataFrame es un arreglo
tipo *Series* . Por lo tanto, todos los atributos de Series son aplicables al DataFrame.

In [15]:
reg_peso = {'Vanesa':[68,67,66,65],'Kevin':[89,89,90,88],'Fernanda':[59,60,60,62],'Patricia':[70,68,67,65]}
peso = pd.DataFrame(reg_peso)
peso

   Vanesa  Kevin  Fernanda  Patricia
0      68     89        59        70
1      67     89        60        68
2      66     90        60        67
3      65     88        62        65

In [16]:
peso.index = ['Mes 1','Mes 2','Mes 3','Mes 4']
peso

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 2      67     89        60        68
Mes 3      66     90        60        67
Mes 4      65     88        62        65

In [17]:
# Extracción de datos por indices
peso['Fernanda']

Mes 1    59
Mes 2    60
Mes 3    60
Mes 4    62
Name: Fernanda, dtype: int64

In [18]:
# extracción de datos con indice tipo string
peso.Patricia

Mes 1    70
Mes 2    68
Mes 3    67
Mes 4    65
Name: Patricia, dtype: int64

Para acceder a una fila se usa `loc`

In [19]:
peso.loc['Mes 1']

Vanesa      68
Kevin       89
Fernanda    59
Patricia    70
Name: Mes 1, dtype: int64

También es posible acceder a las filas por indices a través de índices mediante `iloc`.

In [20]:
peso.iloc[1]

Vanesa      67
Kevin       89
Fernanda    60
Patricia    68
Name: Mes 2, dtype: int64

In [21]:
# parte del arreglo
peso.loc['Mes 1':'Mes 3']

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 2      67     89        60        68
Mes 3      66     90        60        67

In [22]:
# Indices especìficos
peso.loc[['Mes 1','Mes 3']]

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 3      66     90        60        67

In [23]:
# Indices numericos
peso.iloc[[0, 2]]

       Vanesa  Kevin  Fernanda  Patricia
Mes 1      68     89        59        70
Mes 3      66     90        60        67